img {border: 0;}

body {font-size:12px;color:#5e5e5e;font-family:Dotum;margin:0;} 

a:link {color:#5e5e5e;text-decoration:none;}
a:visited {color:#5e5e5e;text-decoration: none}
a:hover {color:#920000;text-decoration: none;}
a:active {color:#920000;text-decoration: none;}

#maintop {width:1000px;margin:auto;text-align:center;padding:60 0 60 0;position:center;border-left:0px solid #e7e7e7;border-right:0px solid #e7e7e7;}

#maintext {width:1000px;margin:auto;text-align:center;padding:20 0 20 0;position:center;border:0px solid #e7e7e7;}

#mainfoot {width:1000px;margin:auto;text-align:center;padding:20 0 20 0;position:center;border-left:0px solid #e7e7e7;border-right:0px solid #e7e7e7;}

#top {width:560px;margin:auto;text-align:center;padding:60 0 60 0;position:center;border-left:0px solid #e7e7e7;border-right:0px solid #e7e7e7;}

#vid {width:560px;margin:auto;text-align:center;padding:0 0 0 0;position:center;border:0px solid #e7e7e7;}

#game {width:560;margin:auto;text-align:left;padding:10 0 10 10;}
#icon {width:110px;height:100px;float:left;text-align:left;}
.title {width:440px;height:100px;float:right;text-align:left;} 

#maincategory {width:1000px;margin:auto;background:#fff;text-align:center;padding:3 0 3 0;border:0px solid #e7e7e7;}

#category {width:560px;margin:auto;background:#fff;text-align:center;padding:3 0 3 0;border:0px solid #e7e7e7;}

#text {width:540px;margin:auto;text-align:left;padding:20 0 20 20;position:center;border:0px solid #e7e7e7;}

#contentsfoot {width:560px;margin:auto;text-align:center;padding:20 0 20 0;position:center;border-left:0px solid #e7e7e7;border-right:0px solid #e7e7e7;}

#foot {width:560px;margin:auto;text-align:center;padding:20 0 20 0;position:center;border-left:0px solid #e7e7e7;border-right:0px solid #e7e7e7;}

#whatsnew {width:100%;margin:0;text-align:center;padding:20 0 20 0;position:center;border-left:0px solid #e7e7e7;border-right:0px solid #e7e7e7;}
